body {

    color: rgb(66, 66, 66);

    background: #ffc0cb;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {

    font-size: 55px;
    color: #ffef00
}

h2 {

    font-size: 40px;
    color: #ffef00
}

h1 em {
    color: #9dc183
}

header ul li a {

    color: rgb(66, 66, 66);

    text-decoration: dashed;

    margin-right: 15px;
}

header ul {

    list-style: none;
}

header ul li {

    display: inline;
}

header,
main,
footer {

    /*border: dotted #ffef00;
    margin-bottom: 25px;
    margin-top: 0px;
    margin-right: 100px;
    margin-left: 100px;*/

    margin: 0 auto; /*centraliza as caixas*/
    width: 1120px;
}

footer {

    background: #e9abb5
}

/*estilização do layout.*/

section {
    box-sizing: border-box;
    float: left;
}

.secao-conteudo {
    width: 80%;
}

.secao-imagem {
    width: 20%;
}

footer {
    height: 50px;
    float: left;
}
